@{
    ViewData["Title"] = "Arroz Estilo Hindú";
}
<h1>@ViewData["Title"]</h1>

<p>Preparación</p>
<u>
    <li class="list-group-item">1.-Echamos en el vaso el cilantro fresco y los frutos secos y trituramos 3 segundos, velocidad 5.. Retiramos y reservamos.</li>
    <li class="list-group-item">2.-Ponemos en el vaso el agua y un poquito de sal y colocamos el cestillo. Cerramos la tapa y programamos 8 minutos, temperatura varoma, velocidad cuchara.</li>
    <li class="list-group-item">3.-Añadimos el arroz por el bocal y programamos 12 minutos, temperatura varoma,velocidad 2. Escurrimos el arroz sacando el cestillo con ayuda de la espátula. Lo extendemos en una fuente para que se vayan soltando los granitos. Mientras, vamos a preparar el resto de ingredientes.</li>
    <li class="list-group-item">4.-Sin lavar el vaso, añadimos la zanahoria, los ajos y la cebolla en trozos grandes. Programamos 5 segundos, velocidad 6. Bajamos los restos de tapa y paredes.</li>
    <li class="list-group-item">5.-Añadimos la mantequilla, la sal y las especias (garam masala, cardamomo y cilantro en polvo) y programamos 15 minutos, temperatura 120º, velocidad cuchara.</li>
    <li class="list-group-item">6.-En un bol mezclamos el arroz y las verduras que acabamos de cocinar y removemos muy bien para que se integren los sabores.</li>
    <li class="list-group-item">7.-Añadimos por encima el cilantro y los frutos secos que trituramos en el primer paso.</li>

</u>