@{
    ViewData["Title"] = "Receta de comidas preparadas con arroz";
}
<h1>@ViewData["Title"]</h1>

<p>Lista de insumos</p>
<u>
    <li class="list-group-item">Arroz</li>
    <li class="list-group-item">Pimienta</li>
    <li class="list-group-item">sillao</li>
    <li class="list-group-item">verduras</li>
</u>